{% extends "base.html" %}

{% block content %}
{%- for section in sections %}
    <h2>{{ section.heading }}</h2>
{%- for line in section.lines %}
    <div class="line">
      <div class="number">{{ line.number }}</div>
{%- for diff in line.diffs -%}
{%- match diff -%}
  {%- when Diff::Same(text) %}
      <div class="same">{{ text }}</div>
  {%- when Diff::Music(music) %}
      <div class="music">{{ music }}</div>
  {%- when Diff::Script(script) %}
      <div class="script">{{ script }}</div>
  {%- when Diff::Case(script) %}
      <div class="case">{{ script }}</div>
  {%- when Diff::Replace(replace) %}
      <div class="replace">
        <div class="script">{{ replace.script }}</div>
        <div class="music">{{ replace.music }}</div>
      </div>
{%- endmatch %}
{%- endfor %}
    </div>
{%- endfor %}
{%- endfor %}
{%- endblock %}
